server:
  port: 5006

spring:
  application:
    name: limit-service

  jpa:
    properties:
      hibernate:
        default_schema: limit

  flyway:
    schemas: limit
    enabled: false

  config:
    import: optional:configserver:http://localhost:8888

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    instance:
      hostname: localhost
      ip-address: 127.0.0.1
      prefer-ip-address: true
